@import './vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: $black;
}

body {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

a {
    text-decoration: inherit;
    color: inherit;
}