@import './vars';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 4rem;
  min-height: 100vh;
  gap: 5rem;

  .imgs {
    background-color: $pink;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;

    & > img{
      width: 100%;
      object-fit: cover;
    }
  }

  .bestSellers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    align-items: center;
    & > h2 {
      font-weight: 300;
    }
    & > div {
      display: flex;
      padding: 1rem;
      gap: 1rem;
      justify-content: space-between; 
      // @media (max-width: 550px) {
      //   overflow-x: hidden;
      //   & > div {
      //     width: 200px;
      //   }
      // }
    }

  }
}
